header{
  padding: 10px 90px 10px 10px;
  text-align: right;
}

th {
  vertical-align: middle;
}

.required-asterisk {
  color: red;
}

.error {
  color: red;
  font-size: 0.8em;
}

.inline {
  display: inline;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.dropdown-toggle {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.form-group {
  @extend .center;
  min-width: 150px;
  width: 90% !important;
}

#add-employee-button {
  border-radius: 1000px;
  margin-left: 6px;
}

#main-container {
  min-width: 700px;
  width: 65vw;
}
